extends layout

block content
	h1 To-do:
		table
			thead(id="addItemContainer")
				tr
					th
						input(id="addItemField" type="text")
					th
						button(id="addItemBtn" type="button") Add
			tbody(id="todoListContainer")
			
				










