extends layout

block content
	h1 Todo:
	table
		thead(id="addItemContainer")
			tr
				th
					form(id="addItemForm")
						input(id="addItemField" type="text")
						button(id="addItemBtn" type="submit") Add
		tbody(id="todoListContainer")

				
